@import "tailwindcss";

:root {
  --color-bg: #FAFAFA;
  --color-text: #171717;
  --color-gray1: #333333;
  --color-gray2: #434343;
  --color-gray3: #9F9F9F;
  --color-gray4: #F0F0F0;
  --color-main: #FF6E1C;
  --color-sub: #FF7A0D;
  --color-error: #FB3939;
  --color-green: #34C759;
  --color-card-bg: #FAFAFA;

  --header-height: 64px;
  --tabbar-height: 64px;
  --card-radius: 16px;
  --minicard-radius: 8px;
}

.dark {
  --color-bg: #171717;
  --color-text: #FAFAFA;
  --color-gray1: #F0F0F0;
  --color-gray2: #434343;
  --color-gray3: #9F9F9F;
  --color-gray4: #333333;
  --color-card-bg: #333333;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
